.vscode/launch.json
.coverage
.vscode/tasks.json
__pycache__/robotmap.cpython-36.pyc
commands/__pycache__/__init__.cpython-36.pyc
commands/__pycache__/change_value.cpython-36.pyc
commands/__pycache__/chassis_drive.cpython-36.pyc
commands/__pycache__/intake_dislodge.cpython-36.pyc
commands/__pycache__/intake_eject.cpython-36.pyc
commands/__pycache__/intake_intake.cpython-36.pyc
commands/__pycache__/lift_hold.cpython-36.pyc
commands/__pycache__/lift_move.cpython-36.pyc
commands/__pycache__/winch_raise.cpython-36.pyc
inputs/__pycache__/oi.cpython-36.pyc
subsystems/__pycache__/__init__.cpython-36.pyc
subsystems/__pycache__/chassis.cpython-36.pyc
subsystems/__pycache__/intake.cpython-36.pyc
subsystems/__pycache__/lift.cpython-36.pyc
subsystems/__pycache__/winch.cpython-36.pyc
tests/.cache/v/cache/lastfailed
tests/__pycache__/pyfrc_test.cpython-36-PYTEST.pyc
